.btn {
    padding: 6px 15px;
    background-color: coral;
    border: none;
    color: white;
    font-weight: bold;
}

.btn--medium {
    padding: 10px 20px;
}

.btn--large {
    padding: 15px 25px;
    font-size: 150%;
}